<%- include ('./header.ejs') -%>
<div class="container">
    <h1>Code:<%=employee.code%></h1>
  <p>   Name:<%=employee.name%></p>
   <p> Age:<%=employee.age%></p>
   <p> Salary: <%=employee.salary%>$</p>
    <p>Branch: <%=employee.branch%></p>
    <a href="/employee">Back to home</a>
</div>