<%- include ('./header.ejs') -%>
<form action="/employee/search">
    <select name="select" id="select" onchange="this.form.submit()">
        <option value="">Filter...</option>
        <% branch.forEach((item) => { %>
            <option value="<%= item._id %>"><%= item.name %></option>
        <% }) %>
    </select>
</form>
<br>
<form action="/employee/sort">
    <select  id="" onchange="this.form.submit()">
        <option value="">Sort...</option>
        <option value="">Sort by age</option>
    </select>
</form>
<br>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Code</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Salary</th>
        <th scope="col">Branch</th>
    </tr>
    </thead>
    <tbody>
    <% for (let employee of employees) { %>
    <tr>
        <th scope="row">1</th>
        <td><%= employee.code %></td>
        <td><a style="text-decoration: none;color:black"
               href="/employee/detail/<%= employee._id %>"><%= employee.name %></a></td>
        <td><%= employee.age %></td>
        <td><%= employee.salary %>$</td>
        <td><%= employee.branch.name %></td>
        <td><a class="btn btn-primary" href="/employee/edit/<%= employee._id %>">Edit</a></td>
        <td><a  onclick="return confirm('Are you sure you want to delete this employee?')" class="btn btn-danger" href="/employee/delete/<%= employee._id %>">Delete</a></td>
    </tr>
    <% } %>


    </tbody>
</table>
<%- include ('./footer.ejs') -%>

